@import "../../global.scss";

.description {
    background-color: $bgColor;
    position: relative;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .wrapper{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0 200px;

        @include mobile{
            padding: 0 50px;
        }

        @include tablet {
            padding: 0 50px;
        }

        @include Smlaptop {
            padding: 0 50px;
        }
        

        h1{
            font-size: 60px;
            color: $textColor;
            margin-bottom: 80px;
            margin-top: 40px;

            @include mobile{
                font-size: 40px;
                margin-bottom: 0px;
                margin-top: 10px;
            }

            @include tablet {
                font-size: 55px;
                margin-bottom: 30px;
                margin-top: 40px;
            }

            @include Smlaptop {
                font-size: 55px;
                margin-bottom: 30px;
                margin-top: 40px;
            }

            @include Bglaptop{
                margin-bottom: 15px;
            }
            
        }
        h3{
            font-size: 40px;
            color: white;
            font-weight: 300;
            @include mobile{
                font-size:21px;
                font-weight: 300;
            }

            @include tablet {
                font-size: 32px;
                font-weight: 300;
            }

            @include Smlaptop {
                font-size: 34px;
                font-weight: 300;
            }
        }

        
    }
    a {
        position: absolute;
        bottom: 10px;
        left: 50%;

        @include mobile{
            display: none;
        }
        @include tablet {
            display: none;
        }

        img {
            width: 50px;
            animation: arrowBlink 2s infinite;

        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }
}
