@import "../../global.scss";


.intro {
    
    background-image: url('../../../public//assets/fondo1.jpg');
    display: flex;
    

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    @include tablet{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        position: relative;
        
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include mobile{
                margin-left: 0;
            }
            @include tablet {
                margin-left: 0;
            }

            h1{
                font-size: 60px;
                margin: 20px 0;
                color: white;

                @include mobile{
                    font-size: 35px;
                }
                @include tablet {
                    font-size: 55px;
                }

                @include Smlaptop{
                    font-size: 45px;
                }
            }
            
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 50%;
            @include mobile{
                display: none;
            }
            @include tablet {
                display: none;
            }
            img{
                width: 50px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
    .right{
        flex: 0.5;
        
        .imgContainer{
            width: 700px;
            height: 700px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow-y: hidden;
            margin-top: 60px;

            @include mobile{
                align-items: flex-start;
                display: flex;
                margin-top: 0;
            }

            @include tablet {
                align-items: flex-start;
                display: flex;
                margin-top: 0;
                overflow-y: hidden;
            }

            @include Smlaptop{
                align-items: center;
            }

            img{
                width: 100%;
                
                @include mobile{
                    height: 40%;
                    width: 80%;
                    position: absolute;
                }

                @include tablet {
                    height: 45%;
                    width: 55%;
                    position: absolute;
                    overflow: hidden;
                    
                }

                @include Smlaptop{
                    height: 65%;
                    width: 60%;
                    margin-right: 190px;
                }
            }
        }
    }
}